<h3>Equipment</h3>
<ul>
  <li *ngFor="let tool of equipment">

    <span *ngIf="toolBeingEdited !== tool; else elseBlock">
      <span (click)="edit(tool)" class="editable-text">{{tool}}</span>
      <button (click)=remove(tool)>remove</button>
    </span>

    <ng-template #elseBlock>
      <input #updatedTool (keyup.enter)="save(updatedTool.value, tool)" value="tool"/>
      <button (click)="save(updatedTool.value, tool">save</button>
    </ng-template>

  </li>
</ul>
<input #newTool type="text">
<button (click)="add(newTool.value)">Add</button>
